@media screen and (max-width:576px) {
    nav{
        padding: 0 7px;
    }
  .btn{
    display: none;
  }  
  nav ul{
    display: none;
  } 
  .humberger{
    display: block;
  }
  .hero-main-section{
    height:60vh;
    background-repeat: no-repeat;
    background-size:cover; 
         
}
.hero-circle img{
    width: 220px;
     top:10%;
    left:18%;
}
.mic-png img {
    width: 60px;
    position: absolute;
    top: 22%;
    margin-left: 73px;
    display: block;
}
.podcast-up{
    width:100%;
}
.view-card-main{
    flex-wrap: wrap;
    gap: 20px;
}
.techwave-card{
    grid-template-columns: repeat(1,1fr);
}
.frist{
    grid-row: 1 span;
    
}
.card{
    padding: 10px 20px;
    width: 100%;
}
.techwave-main{
  padding: 0 10px;
  height: 1000px;
}
.edpisodes-title{
  margin: 30px 0 20px 0;
  font-size: 25px;
}
.episodes-card{
    width:100%;
    height: 100%;
    margin: 10px 0;
}
.episodes-card-main{
   flex-direction: column;
    gap: 10px;
   justify-content: center;
}
}






@media screen and (min-width:576px) and (max-width:768px) {
     nav{
        padding: 0 7px;
    }
    .techwave-card{
    grid-template-columns: repeat(1,1fr);
}
.frist{
    grid-row: 1 span;
    
}
.card{
    padding: 10px 20px;
}
.techwave-main{
  padding: 0 10px;
   height: 1000px;
}
}


