@media screen and (max-width:576px) {
    nav{
        padding: 0 7px;
    }
  .btn{
    display: none;
  }  
  nav ul{
    display: none;
  } 
  .humberger{
    display: block;
  }

.hero-main{
    height: 50vh;
    
}
.hero-sceond{
    padding-top:40px ;
}
.hero-content{
    margin-bottom: 30px;
}
.btttn{
    display: inline-block;
}

.podcast-up{
    width:100%;
    padding: 0 10px;
    margin-top: 130px;
}
.view-card-main{
    flex-wrap: wrap;
    gap: 20px;
}
.techwave-card{
    display: flex;
    flex-direction: column;
}
.card{
    padding: 10px 20px;
    width: 100%;
}
.techwave-main{
  padding:  10px;
  height: 900px;
  
}
.techwave-main{
  background: rgba(53, 17, 101, 0.049);
  height: 720px;
}
.edpisodes-title{
  margin: 350px 0 20px 0;
  font-size: 25px;
}
.episodes-card{
    width:90%;
    margin: 10px 0;
}
.episodes-card iframe{
    width: 100%;
}
.episodes-card-main{
   flex-direction: column;
    gap: 10px;
   justify-content: center;
   align-items: center;
   padding: 0 10px ;
   margin-top: 50px;
}
.host-card{
   flex-direction: column;
   text-align: center;
}
.host-section-main{
    padding: 0 15px;
}
.footer-content>img{
    width: 200px;
}
.footer-main{
    background-image: url(./images/footer-bg.png);
    background-size:700px;
    padding: 50px 0;
    background-repeat: no-repeat;
    
}
.footer-social{
    margin-top: 30px;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
}






@media screen and (min-width:576px) and (max-width:768px) {
     nav{
        padding: 0 7px;
    }
    .techwave-card{
    grid-template-columns: repeat(1,1fr);
}
.frist{
    grid-row: 1 span;
    
}
.card{
    padding: 10px 20px;
}
.techwave-main{
  padding: 0 10px;
   height: 1000px;
}
}


