*{
 margin: 0;
 padding: 0;
 list-style: none;
 box-sizing: border-box;
}
body{
      font-family: "Inter", sans-serif;
      background-color: #1e1e1e;
}

/* Shared Style */
.btn{
    background-image: linear-gradient( #f7e93f, #FB09B4, #9100F8);
    color: white;
    padding: 6px 10px;
    border-radius: 8px;
    border: none;
    font-size: 14px;
}
.masterwid{
    max-width: 1140px;
    margin: 0 auto;
    
}

/* Header Style */
header{
    padding: 20px 0;
    border-bottom: 1px solid rgba(101, 99, 99, 0.493);
}
.arrow-img{
    width: 12px;
}
nav h1 {
    font-size: 28px;
    color: white;
}
nav .colorful{
   background-image: linear-gradient( #f7e93f, #96116e, #9100F8);
    color: transparent;
    background-clip: text;
}
nav ul {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
nav ul li a {
    text-decoration: none;
    color:#ffffff;
    font-size: 14px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.humberger{
 display: none;
}
/* Hero section Styling */

.hero-main-section{
    height: 100vh;
    background-image: url(./images/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
    position: relative; 
}

.hero-circle img {
    position: absolute;
    top: 10%;
    left: 39%;
}

.mic-png img {
    width: 100px;
    position: absolute;
    top: 22%;
    margin-left: 120px;
}










/* Podcast Style */
.podcast-up{
    text-align: center;
    width: 700px;
    margin: 70px auto;
}
.podcast-up h1{
    color:#ffffff;
    font-size: 25px;
}
.podcast-up p {
    color: rgb(207, 197, 197);
    font-size: 14px;
}
.podcast-up .p-middle{
    margin: 10px 0 20px 0;
}  

.view-card h1{
    font-size: 40px;
    color:rgba(0, 255, 136, 1);
    margin-bottom: 5px;
}
.view-card p{
    font-size: 13px;
  color: rgb(207, 197, 197);
}
.view-card-main{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

/* Choose techwave Styling */

.techwave-choss-sec h1{
    margin-top: 90px;
    text-align: center;
    font-size: 30px;
    color: white;
}
.card{
    background: rgba(53, 17, 101, 0.4);
    width: 350px;
}
.card h2 {
    font-size: 20px;
    color: #ffffff;
}
.card p {
    padding: 30px;
    font-size: 14px;
    color: rgb(207, 197, 197);
    margin: 10px 0;
}