*{
 margin: 0;
 padding: 0;
 list-style: none;
 box-sizing: border-box;
}
body{
      font-family: "Inter", sans-serif;
      background-color: #1a0b2e;
}

/* Shared Style */
.btn{
    background-image: linear-gradient( #f7e93f, #FB09B4, #9100F8);
    color: white;
    padding: 8px 10px;
    border-radius: 8px;
    border: none;
    font-size: 14px;
    animation: pulse 1s infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05); 
  }
  100% {
    transform: scale(1.); 
  }
}
.masterwid{
    max-width: 1140px;
    margin: 0 auto;
    
}

/* Header Style */
header{
    padding: 20px 0;
    border-bottom: 1px solid rgba(101, 99, 99, 0.493);
}
.arrow-img{
    width: 12px;
}
nav h1 {
    font-size: 28px;
    color: white;
}
nav .colorful{
   background-image: linear-gradient( #f7e93f, #96116e, #9100F8);
    color: transparent;
    background-clip: text;
}
nav ul {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
nav ul li a {
    text-decoration: none;
    color:#ffffff;
    font-size: 14px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.humberger{
 display: none;
}
/* Hero section Styling */
.hero-main{
    height: 90vh;
    background-image: url(./images/hero-bg.png);
    background-position: center;
    background-size: cover;
}
.hero-sceond{
    display:flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top:100px ;
}
.hero-third{
    position: relative;
}
.hero-cirle{
    height: 300px;
    width: 300px;
    background-image: url(./images/hero-circle.png);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.badeg{
    background-color: #00FF88;
    font-weight: 700;
    padding:7px 14px;
    border-radius: 10px;
    position: absolute;
    top: 20px;
    right: 10px;
}
.hero-content{
    text-align: center;
}
.hero-content h1 {
    color: white;
    font-size: 40px;
    margin: 10px 0;
}

.hero-content p{
    color: rgb(207, 197, 197);
    margin-bottom: 15px;
}

.transparent-btn{
    background-color: #00ff880c;
    padding: 8px 10px;
    border-radius: 12px;
    border: 1px solid #00FF88;
    font-size: 14px;
    color: #00FF88;
    animation: pulse 1s infinite;
    margin-left: 8px;
}
.hero-content img{
    width: 12px;
   
}

/* Podcast Style */
.podcast-up{
    text-align: center;
    width: 700px;
    margin: 0px auto;
}
.podcast-up h1{
    color:#ffffff;
    font-size: 30px;
}
.podcast-up p {
    color: rgb(207, 197, 197);
    font-size: 14px;
}
.podcast-up .p-middle{
    margin: 10px 0 20px 0;
}  

.view-card h1{
    font-size: 40px;
    color:rgba(0, 255, 136, 1);
    margin-bottom: 5px;
}
.view-card p{
    font-size: 13px;
  color: rgb(207, 197, 197);
}
.view-card-main{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

/* Choose techwave Styling */
.techwave-main{
   background: rgba(53, 17, 101, 0.4);
  height: 720px;
}

.techwave-choss-sec h1{
    margin-top: 90px;
    text-align: center;
    font-size: 30px;
    color: white;
    margin-bottom: 30px;
    padding: 10px 0;
    
}
.card{
    background: rgba(53, 17, 101, 0.4);
    padding: 30px 15px;
    border-radius: 10px;
}
.card h2 {
    font-size: 18px;
    color: #ffffff;
    margin-top: 8px;
}
.card p {
    font-size: 12px;
    color: rgb(207, 197, 197);
    margin: 10px 0;
}
.card img {
    width: 40px;
}
.techwave-card{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(6,160px);
    gap: 15px;
}
.frist{
    grid-column: 1 span;
    grid-row: 2 span;
}
.sec{
    grid-column:4 span;
}
.third{
    grid-column: 3 span;
}
.fourth{
    grid-column: 2 span;
}

/* Episodes Styling */
.episodes-card-main{
    display: flex;
    gap: 30px;
   justify-content: center;
}
.edpisodes-title{
  margin: 80px 0 20px 0;
  text-align: center;
  color: #ffffff;
}

.episodes-card{
    width: 300px;
    height: 100%;
     background: rgba(53, 17, 101, 0.4);
     border-radius: 10px;
     margin: 30px 0;
     box-sizing: border-box;
}
.episodes-card h3{
    font-size: 16px;
    color: #ffffff;
}
.episodes-card p{
    font-size: 12px;
     color: rgb(207, 197, 197);
     margin: 8px 0;
    
}
.episodes-card iframe {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.card-content{
    padding: 10px;    
}
.card-content img{
    width: 12px;
     margin-right: 4px;
     margin-top: 6px;
}
.card-content h4{
    color:rgba(0, 255, 136, 1);
    font-size: 14px;
   
}
/*  Meet the Host Section  */

.host-title{
    text-align: center;
    font-size: 30px;
    color: #ffffff;
    margin: 30px 0;
}
.host-card{
   background: rgba(53, 17, 101, 0.4);
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 20px;
   padding: 20px ;
   border-radius: 8px;
}
.host-card>img {
    width: 150px;
}
.host-bio h2{
    font-size: 20px;
    color: #ffffff;
}
.host-bio p{
    font-size: 12px;
     color: rgb(207, 197, 197);
     margin: 10px 0;
}
.icons img {
    
    width: 30px;
    border: 1px solid  rgba(156, 13, 158, 0.342); 
    padding: 7px;
    border-radius: 20px;
    object-fit: cover;
    
}

/* Footer Section */

.footer-main{
    height: 40vh;
    background-image: url(./images/footer-bg.png);
    background-position: center;
   margin-top: 60px;
}
.footer-content{
    text-align: center;
    padding: 80px 0;
}
.footer-content>img{
    width: 300px;
}
.footer-social{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.footer-social img {
    width: 15px;
    margin-right: 5px;
    margin-bottom: -3px;
}
.footer-social p{
    font-size: 13px;
    color: rgb(207, 197, 197);
}
.copyright{
    margin-top: 40px;
    font-size: 13px;
    color: rgb(207, 197, 197);
}